/* Smartphones iPhone 4  any small screen*/

@media (min-width: 0px) and (max-width: 320px) {

    /* about */
    .btn-cv {
        background-color: rgb(0, 0, 0);
        color: white;
        padding: 5px 10px;
        transition: all .5s;
    }

    .btn-contact {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        padding: 5px 10px;
        transition: all .5s;
        border: solid 1px black;
    }

    /* about */

    /* serv */
    .sec3-servises {
        font-size: 30px;
        margin-bottom: 40px;
    }

    /* serv */


    /* Testimonials */
    .sec5-test {
        font-size: 30px;
    }

    .img-carousel {
        width: 100px;
    }

    .carousel-p {
        font-size: 15px;
    }

    .alex-text {
        font-size: 20px;
    }

    /* Testimonials */

    /* port */
    .sec4-porfolio {
        font-size: 30px;
        margin-top: 50px;
    }

    /* port */



    /* stat */
    .stat {
        margin-bottom: 50px !important;
    }

    .stat-p {
        font-size: 14px;
    }

    /*stat  */

    /* team */
    .sec7 {
        padding: 0px;

        .sec7-team {
            font-size: 30px;
            padding-top: 50px;
        }
    }

    /* team */






    /* contact-us */
    .form-width {
        width: 100%;
    }

    .p-contact-font {
        font-size: 12px;

    }

    .sec8-contact {
        font-size: 30px;
        margin-top: 50px;
    }

    /* contact-us */


    @keyframes width {
        100% {
            width: 0%;
        }
    }


    .static-txt {
        font-size: 0px;
        color: rgb(255, 255, 255);
    font-weight: 100;
    }

    .static-txt::after{
        content: "I AM DANIEL";
        font-size: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }


}


@media (min-width: 321px)and (max-width: 480px) {

    /* Testimonials */
    .sec5-test {
        font-size: 30px;
    }

    .img-carousel {
        width: 100px;
    }

    .carousel-p {
        font-size: 15px;
    }

    .alex-text {
        font-size: 20px;
    }

    /* Testimonials */


    /*stat  */
    .stat {
        margin-bottom: 50px !important;
    }

    .stat-p {
        font-size: 14px;
    }

    /*stat  */


    /* team */
    .sec7 {
        padding: 0px;
    }

    /* team */


    /* contact-us */
    .form-width {
        width: 100%;
    }

    /* contact-us */

    @keyframes width {
        100% {
            width: 0%;
        }
    }

    .static-txt {
        font-size: 0px;
        color: rgb(255, 255, 255);
    font-weight: 100;
    }

    .static-txt::after{
        content: "I AM DANIEL";
        font-size: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }
  

}


@media (min-width: 481px) and (max-width: 640px) {

    /*stat  */
    .stat {
        margin-bottom: 50px !important;
    }

    /*stat  */

    /* team */
    .sec7 {
        padding: 0px;
    }

    /* team */

    /* contact-us */
    .form-width {
        width: 100%;
    }

    /* contact-us */

    @keyframes width {
        100% {
            width: 70%;
        }
    }


}


@media (min-width: 641px) and (max-width: 800px) {

    /*stat  */
    .stat {
        margin-bottom: 50px !important;
    }

    /*stat  */
    @keyframes width {
        100% {
            width: 45%;
        }
    }

}


@media (min-width: 801px) and (max-width: 1024px) {

    /*stat  */
    .stat {
        margin-bottom: 50px !important;
    }

    /*stat  */

    @keyframes width {
        100% {
            width: 40%;
        }
    }

}

/* Desktops and laptops  small screne]----------- */
@media (min-width: 1025px) and (max-width: 1280px) {
   
    @keyframes width {
        100% {
            width: 35%;
        }
    }
}

/* Desktops and laptops ----------- */

@media (min-width: 1281px) and (max-width: 1800px) {

    /* services */
    .sec3 {
        background-color: #f7f7f7;
        padding: 0 100px;
        padding-top: 70px;
        padding-bottom: 50px;
    }

    /* services */

   

}

@media (min-device-width:1801px)and (max-device-width: 2200px) {}